<form class="container"
      [formGroup]="form">
  <h1>Base Converter</h1>
  <p>Decimal :<input class="ip" formControlName="decimal"
                     (ngModelChange)="decimalChanged(oldValue, newValue=$event)"
                     name="decimal" type="text" placeholder="decimal"></p>
  <br>
  <p>Binary :<input class="ip" formControlName="binary"
                    (ngModelChange)="binaryChanged(oldValue, newValue=$event)"
                    name="binary" type="text" placeholder="binary"></p>
  <br>
  <p>Octal :<input class="ip" formControlName="octal"
                   (ngModelChange)="octalChanged(oldValue, newValue=$event)"
                   name="octal" type="text" placeholder="octal"></p>
  <br>
  <p>Hexa :<input class="ip" formControlName="hexa"
                  (ngModelChange)="hexaChanged(oldValue, newValue=$event)"
                  name="hexa" type="text" placeholder="hexa"></p>
  <br>
</form>
